<div class = "profilewidget">
    <mat-card>
        <div class = "profile-element">{{userDetails.email}}</div>
        <div class = "profile-element"><span>name:</span>{{userDetails.name}}</div>
        <div class = "profile-element"><span>exp:</span>{{userDetails.exp}}</div>
        <button style = "size:0.6em;width:50%" class = "profile-element" mat-stroked-button (click) = "logout()">log out</button>
    </mat-card>
    <!--<mat-card>
        <mat-nav-list>
            <mat-list-item>{{userDetails.email}}</mat-list-item>
            <mat-list-item>{{userDetails.firstname}}</mat-list-item>
            <mat-list-item>{{userDetails.lastname}}</mat-list-item>
            <mat-list-item>{{userDetails.role}}</mat-list-item>
        </mat-nav-list>
    </mat-card>-->
</div>
