<div class = "profilewidget">
    <mat-card>
        <div>{{userDetails.email}}</div>
        <div>{{userDetails.firstname}}</div>
        <div>{{userDetails.lastname}}</div>
        <div>{{userDetails.role}}</div>
        <button style = "position: relative;margin-left:40%">log out</button>
    </mat-card>
    <!--<mat-card>
        <mat-nav-list>
            <mat-list-item>{{userDetails.email}}</mat-list-item>
            <mat-list-item>{{userDetails.firstname}}</mat-list-item>
            <mat-list-item>{{userDetails.lastname}}</mat-list-item>
            <mat-list-item>{{userDetails.role}}</mat-list-item>
        </mat-nav-list>
    </mat-card>-->
</div>