<div class = "body">
    <mat-card>
        <form *ngIf = "showtxnFormGroup" [formGroup] = "transactionFilesFormGroup" (ngSubmit) = "updateTransaction()">
            <table border = "1">
                <tr>
                    <td>
                        <div>
                            <label for = "macAddress" class = "field-label">macaddress</label><br>
                            <mat-form-field class = "device-input">
                                <input matInput  type = "text"  formControlName = "macAddress" />
                            </mat-form-field>
                        </div>
                    </td>
                    <td>
                        <div>
                            <label for = "dateUploaded" class = "field-label">date Uploaded</label><br>
                            <mat-form-field class = "device-input" style = "width:100%">
                                <input matInput   formControlName = "dateUploaded" />
                            </mat-form-field>
                        </div>
                    </td>
                    <td>
                        <div>
                            <label for = "filename" class = "field-label">filename</label><br>
                            <mat-form-field class = "device-input" style = "width:60%">
                                <input matInput   formControlName = "filename" />
                            </mat-form-field>
                        </div>
                    </td>
                </tr>
                <tr>

                    <td colspan="2">
                        <div>
                            <label for = "firstReceiptNo" class = "field-label">first receipt</label><br>
                            <mat-form-field class = "device-input">
                                <input matInput   formControlName = "firstReceiptNo" />
                            </mat-form-field>
                        </div>
                    </td>
                    <td>
                        <div>
                            <label for = "lastReceiptNo" class = "field-label">last receipt</label><br>
                            <mat-form-field class = "device-input">
                                <input matInput   formControlName = "lastReceiptNo" />
                            </mat-form-field>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <label for = "token" class = "field-label">token</label><br>
                            <mat-form-field class = "device-input">
                                <input matInput   formControlName = "token" />
                            </mat-form-field>
                        </div>
                    </td>
                    <td>
                        <div>
                            <label for = "valueTransactionAmount" class = "field-label">value transaction amount</label><br>
                            <mat-form-field class = "device-input">
                                <input matInput   formControlName = "valueTransactionAmount" />
                            </mat-form-field>
                        </div>
                    </td>
                    <td>
                        <div>
                        <label for = "commodityTransactionAmount" class = "field-label">commodity transaction amount</label><br>
                        <mat-form-field class = "device-input">
                            <input matInput   formControlName = "commodityTransactionAmount" />
                        </mat-form-field>
                        </div>
                    </td>
                </tr>
                <tr>

                    <td colspan = "3">
                        <div>
                                <mat-label>flag</mat-label><br>
                                <mat-form-field>
                                        <mat-select  formControlName = "flag" placeholder={{transactionFile.flag}}>
                                          <mat-option *ngFor="let flag of flagOptions" [value]="flag">{{flag}}</mat-option>
                                        </mat-select>
                                      </mat-form-field>
                        </div>
                    </td>
                </tr>
            </table>
            <button mat-raised-button style = "background-color:teal;position: relative;margin-left:30%;margin-right:70%" (click) = "updateTransactionBatch()">update</button>
        </form>
        <mat-divider></mat-divider>
        <mat-form-field class = "filterField">
            <input  matInput (keyup)= "filterTransactions($event.target.value)" placeholder="Filter">
          </mat-form-field>
          <table *ngIf = "showtransactions" mat-table [dataSource]="transactions" class="mat-elevation-z8">

              <!-- voucherno Column -->
              <ng-container matColumnDef="voucherno">
                <th mat-header-cell *matHeaderCellDef> voucherno </th>
                <td mat-cell *matCellDef="let transaction" > {{transaction.voucherno}} </td>
              </ng-container>

              <!--  cardno Column -->
              <ng-container matColumnDef="cardno">
                <th mat-header-cell *matHeaderCellDef> cardno </th>
                <td mat-cell *matCellDef="let transaction" > {{transaction.cardno}} </td>
              </ng-container>

              <!-- iccid Column -->
              <ng-container matColumnDef="iccid">
                <th mat-header-cell *matHeaderCellDef>iccid</th>
                <td mat-cell *matCellDef="let transaction" > {{transaction.iccid}} </td>
              </ng-container>

              <!-- rcpt  Column -->
              <ng-container matColumnDef="rcpt">
                  <th mat-header-cell *matHeaderCellDef>rcpt</th>
                  <td mat-cell *matCellDef="let transaction" > {{transaction.rcpt }} </td>
              </ng-container>

              <!-- username  Column -->
              <ng-container matColumnDef="username">
                  <th mat-header-cell *matHeaderCellDef>username</th>
                  <td mat-cell *matCellDef="let transaction" > {{transaction.username }} </td>
              </ng-container>
              <!-- date  Column -->
              <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef>date</th>
                  <td mat-cell *matCellDef="let transaction" > {{transaction.date }} </td>
              </ng-container>

               <!-- txns  Column -->
              <ng-container matColumnDef="txns">
                  <th mat-header-cell *matHeaderCellDef>transactions</th>
                  <td mat-cell *matCellDef="let transaction" > {{transaction.txns }} </td>
              </ng-container>

                  <!-- latitude  Column -->
              <ng-container matColumnDef="latitude">
                  <th mat-header-cell *matHeaderCellDef>latitude</th>
                  <td mat-cell *matCellDef="let transaction" > {{transaction.latitude }} </td>
              </ng-container>
                <!-- longitude  Column -->
                <ng-container matColumnDef="longitude">
                    <th mat-header-cell *matHeaderCellDef>longitude</th>
                    <td mat-cell *matCellDef="let transaction" > {{transaction.longitude }} </td>
                </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          <div>
          <mat-paginator [length]= "dataLength"
                        [pageSize]="pageSize"
                        [pageSizeOptions]="[2, 3, 5, 10, 25, 100]"
                        (page) = "pageEvent = $event" (page) = "paginateValues(pageEvent.pageSize,pageEvent.pageIndex)">
          </mat-paginator >
          </div>
    </mat-card>
</div>
