.body{
  max-height:100vh;
}
.drawer-content{
 /* overflow-y: scroll;*/
}
.toolbar{
  margin:-8px;
  position:relative;
}
.mat-toolbar{
  background-color: teal;
}
.mat-drawer-container {
  height: auto;
  margin: -8px;
  border: 1px solid #555;
}
.mat-drawer{
  /*background-color:rgba(199, 208, 227, 0.14);*/
  background-color: whitesmoke;
  text:white;
  height:60vh;
  overflow-y: scroll;
  overflow-x: hidden;
  /*background-color: #272B35;*/
}

.submenus{
  margin-left: 45px;
}
.mat-list-item:hover{
  background-color: #555;
}

.profilecomponent{
  position: absolute;
  z-index: 1.2;
}
.outlet{
  position: relative;
  z-index: -1;
}
sidenav{
  height:20vh;
  overflow-y: scroll;
}
@media only screen and (min-device-width:830px){
  .mat-drawer{
    width: 17vw;
  }
}
@media only screen and (max-device-width:640px){
 .toolbar,.mat-drawer-container{
   /*margin-right:-300px;*/
  }
  .mat-drawer{
   /* background-color: grey;*/
   background-color: #272B35;
  }

  .body{
    /*background-color: blue;*/

  }

}
@media only screen and (max-device-width:398px){
 .toolbar,.mat-drawer-container{

  }

  .body{
    width:100%;
  }
@media only screen and (max-device-width:380px){
  .body{
    width:110%;
  }
}
@media only screen and (max-device-width:273px){
  .body{
    width:115%;
  }
}
}
@media only screen and (max-device-width:233px){
  .body{
    widows: 120%;
  }
}
@media only screen and (max-device-width:215px){
  .body{
    width:150%;
  }
}
@media only screen and (max-device-width:134px){
  .body{
    width:200%;
  }
}
@media only screen and (max-device-width:89px){
  .body{
    width:270%;
  }
}
@media only screen and (max-device-width:298px){
  .toolbar,.mat-drawer-container{
    /*margin-right:-360px;*/
  }
  .body{
    /*background-color: red;*/
  }
}
@media only screen and (max-device-width:285px){
  .toolbar,.mat-drawer-container{
    /*margin-right:-500px;*/
  }
  .body{
    /*background-color: blue;*/
  }
}
@media only screen and (max-device-width:117px){
  .toolbar,.mat-drawer-container{
  /*margin-right:-560px;*/
  }
  .body{
  /*  background-color:gray;*/
  }
}
