<div class = "body">
<div fxLayout = "row" fxLayout.xs = "column" fxHide.xs = true>
<mat-card fxFlex = "20vw" class = "matcard">
<mat-card-subtitle>Total Txn Batch</mat-card-subtitle>
<span>No:35854</span><br>
</mat-card>
<mat-card fxFlex = "20vw" class="matcard">
<mat-card-subtitle>Successful Transactions</mat-card-subtitle>
<span>No:36555</span><br>
</mat-card>
<mat-card fxHide.xs = true fxFlex = "20vw" class = "matcard">
<mat-card-subtitle>Pending Transactions</mat-card-subtitle>
<span>No:54</span><br>
</mat-card>
<mat-card fxHide.xs = true fxFlex = "20vw" class = "matcard">
<mat-card-subtitle>Failed Transactions</mat-card-subtitle>
<span>No:21</span>
</mat-card>
<mat-card fxFlex = "20vw" class = "matcard">
<mat-card-subtitle>Initialized Transactions</mat-card-subtitle>
<span>No:441</span>
</mat-card>
</div>
<!--<div class = "charts-container" fxLayout = "row" fxLayout.xs= "row">
<mat-card  fxFlex="30vw" fxFlex.xs = "48vw" fxFlexOffset.xs = "2vw" class = "linechart">
<div>
    <div style="display:block;">
    <canvas  *ngIf = "showBarChart_gt_sm" baseChart width="10" height = "10"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"></canvas>

    <canvas *ngIf = "showBarChart_xs" baseChart width="15" height = "30"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"></canvas>
    </div>
</div>
</mat-card>
<mat-card fxFlex = "30vw" fxFlexOffset = "10vw" fxFlex.xs = "48vw" fxFlexOffset.xs = "2" class = "linechart">
<div  style="display: block" style = "position:relative">
  <canvas *ngIf = "showBarChart_gt_sm" baseChart height = "250"
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          (chartHover)="chartHovered($event)"></canvas>
<canvas *ngIf = "showBarChart_xs" baseChart height = "370"
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        (chartHover)="chartHovered($event)"></canvas>
</div>
<div  style="display: block" style = "position:relative">

</div>
</mat-card>
</div>-->
<!--<div class = "charts-container">
<mat-card fxFlexOffset = "10vw" fxFlex = "50vw" fxFlexOffset.xs = "1vw" fxFlex.xs = "90vw">
 <div class="col-md-6" class="device-line-chart">
    <canvas *ngIf = "showBarChart_gt_sm" baseChart
                [datasets]="lineChartBarData"
                [labels]="lineChartBarLabels"
                [options]="lineChartOptions"
                [chartType]="lineChartBarType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    <canvas *ngIf = "showBarChart_xs" baseChart height="250"
                [datasets]="lineChartBarData"
                [labels]="lineChartBarLabels"
                [options]="lineChartOptions"
                [chartType]="lineChartBarType"
                (chartHover)="chartHovered($event)"></canvas>
  </div>
</mat-card>
</div>-->
<div>
  <div fxFlex = "40%" style ="background-color: thistle">
      <chart [options] = "pieChartOptions" style="display: block;margin-left:-10%" type = "chart"> </chart>
  </div>
  <div fxFlex = "48%" fxFlexOffset = "2%" style = "margin-left:10px;background-color: teal">
      <chart  [options] = "barChartOptions" style="display: block" type = "chart"> </chart>
  </div>
</div>
<div>
    <chart fxFlex = "82%" [options] = "lineChartOptions" style="display: block;" type = "chart"> </chart>
</div>
<div>
    <chart fxFlex = "82%" [options] = "columnChartOptions" style="display: block" type = "chart"> </chart>
</div>
</div>
