<div class = "body">
  <mat-card>
    <form [formGroup] = "acessFormGroup">
        <table border = "1">
            <tr>
                <mat-form-field>
                  <input matInput placeholder = "user group" formControlName="role"/>
                </mat-form-field>
            </tr>
            <th>Dashboard</th>
            <th>Administration</th>
            <th>Switch</th>
            <th>Devices</th>
            <tr formArrayName = "menus">
              <td [formGroup] = "dashboardFormGroup">
                <span style = "font-weight: 600">Dashboard</span>
                    <mat-checkbox style = "size:0.5em" formControlName= "active" name = "dashboard"></mat-checkbox>
              </td>
              <td [formGroup] = "adminFormGroup">
                <tr [formGroup] = "usersFormGroup">
                    <span>users</span>
                    <mat-checkbox color = "primary" name = "users" formControlName="active" (mouseleave) = "setAdminFormGroupStatus()"></mat-checkbox>
                </tr>
                <tr [formGroup] = "usergroupFormGroup">
                    <span>user group</span>
                    <mat-checkbox formControlName = "active" color = "primary" name = "user-group" (mouseleave) = "setAdminFormGroupStatus()"></mat-checkbox>
                </tr>
              </td>
              <td [formGroup] = "switchFormGroup">
                <tr [formGroup] = "transactionsFormGroup">
                    <span>transactions list</span>
                    <mat-checkbox formControlName="active" color = "primary" name = "transactions list" (mouseleave) = "setSwitchFormGroupStatus()"></mat-checkbox>
                </tr>
                <tr [formGroup] = "zsequenceFormGroup">
                    <span>zsequence list</span>
                    <mat-checkbox style = "size:0.3em" formControlName="active" color = "primary" name = "zsequence list" (mouseleave) = "setSwitchFormGroupStatus()"></mat-checkbox>
                </tr>
                <tr [formGroup] = "responsetoposFormGroup">
                    <span>response to pos</span>
                    <mat-checkbox style = "size:0.5em" formControlName = "active" color = "primary" name = "responsetopos" (mouseleave) = "setSwitchFormGroupStatus()"></mat-checkbox>
                </tr>
              </td>
              <td>
                  <span style = "font-weight:600">Devices</span>
                  <tr>
                    <span>devices</span>
                    <mat-checkbox name = "device list"></mat-checkbox>
                  </tr>
                  <tr>
                      <span>device firmware</span>
                      <mat-checkbox name = "device firmware"></mat-checkbox>
                  </tr>
                </td>
            </tr>
          </table>
          <button [disabled] = "acessFormGroup.status === 'INVALID'" (click) = "testFormGroup()">test</button>
    </form>
  </mat-card>
</div>
